.navBar {
  background: rgb(219, 57, 84);
  box-shadow: 0 0 7px rgb(104, 103, 103);
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px #888;

}

.navLogo {
    padding: 1rem;
}

.navItems {
    list-style: none;
}

.siteNav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.siteNav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px;
  display: inline-block;
}

.siteNav .active a {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.searchBar {
  display: inline-block;
  /* background-image: url('searchicon.png'); */
  border-radius: 10px;
  border: 1px solid white;
  margin: 22px;
  text-align: left;
  padding-left: 7px;
  font-size: small;
  }

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    .navBar {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
    }

    .navBar .actions {
      list-style: none;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      margin: 0;
      padding: 2rem;
    }
  }
  

  
  /* .logo {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
  } */



    /* a {
      text-transform: uppercase;
      text-decoration: none;
      color: rgb(255, 255, 255);
      padding: 20px;
      display: inline-block;
    } */

    /* .active a {
        font-weight: bold;
        color: #62DEBE;
        background: darken(#62DEBE, 40%);
    } */
  


