
.reviews {
    /* margin: 0 auto; */
    padding: 2rem;
    box-shadow: 0 0 5px #888;
    /* display: flex; */
}

.cardImg {
    width: 130%;
    padding-left: 4rem;
    /* height: 100%; */
}

.reviews {
    margin-top: 3rem;
    padding: 2rem;
    background-color: rgb(226, 224, 225);
    width: 90%;
}

.reviews h5 {
    color: rgb(219, 57, 84);
    font-style: italic;
    padding-top: 20px;
    text-align: left;
}

.reviews h6 {
    color: black;
    font-size: x-small;
    font-weight: bold;
    text-align: left;
}

h1 {
    color: rgb(219, 57, 84);
    font-weight: bold;
    text-align: left;
}

.button {
    background-color: transparent;
    border: 1px solid rgb(219, 57, 84);
    border-radius: 10px;
    color: rgb(219, 57, 84);
    padding: 4px 10px;
    margin-right: 1rem;
}

.button:hover {
    background-color: rgb(219, 57, 84);
}

a {
    color: rgb(219, 57, 84);
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.alert {
    position: fixed;
    align-self: center;
}