.card {
    margin: 0 1%;
    /* max-width: 90%; */
    display: flex;
    box-sizing: border-box;
}

.cardBody {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px #888;
    align-content: center;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    list-style: none;
    max-width: 250px;
}

li > h5,
li > h6 {
    color: #000;
    text-align: left;
}

.cardImg {
    padding-bottom: 1.5rem;
}

.bookRating {
    padding-bottom: 0.7rem;
}

.button {
    background-color: transparent;
    border: 1px solid rgb(219, 57, 84);
    border-radius: 10px;
    transition: all .15s ease-in-out;
    color: rgb(219, 57, 84);
    padding: 4px 10px;
}

a.button:hover {
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    border: 0mm;
    padding: 4px 10px;
    background-color: rgb(219, 57, 84);
    text-decoration: none;
}

@media (max-width: 770px) {
    .card {
        margin: 2% 0;
    }
}