.container {
    display: flex;
    flex-direction: row;
}

.list {
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
}



