.wrapper {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    margin: 1rem;
    padding: 2rem;
}

.list {
    display: inline-block;
}

.list ul {
    list-style: none;
}

.button {
    background-color: transparent;
    border: 1px solid rgb(219, 57, 84);
    border-radius: 10px;
    color: rgb(219, 57, 84);
    padding: 4px 10px;
    margin-right: 1rem;
}

.button:hover {
    background-color: rgb(219, 57, 84);
}

a {
    color: rgb(219, 57, 84);
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}